*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
p{
    text-align: center;
    

}